[Unit]
Description=Linux Hello Authentication Daemon
After=network.target

[Service]
Type=simple
User=linux-hello
Group=linux-hello
RuntimeDirectory=linux-hello
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/linux-hello-daemon
Restart=always

[Install]
WantedBy=multi-user.target
