[Unit]
Description=Linux Hello Authentication Daemon
After=network.target

[Service]
User=linux-hello
Group=linux-hello
ExecStart=/usr/bin/linux-hello-daemon
Restart=always
RuntimeDirectory=linux-hello
RuntimeDirectoryMode=755
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
