#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_build:
	true

override_dh_auto_install:
	# Compiler les traductions
	for lang in fr en; do \
		msgfmt po/$$lang.po -o po/$$lang.mo; \
	done
	
	# Installer les fichiers de traduction
	mkdir -p debian/linux-hello/usr/share/locale/fr/LC_MESSAGES
	mkdir -p debian/linux-hello/usr/share/locale/en/LC_MESSAGES
	cp po/fr.mo debian/linux-hello/usr/share/locale/fr/LC_MESSAGES/linux-hello.mo
	cp po/en.mo debian/linux-hello/usr/share/locale/en/LC_MESSAGES/linux-hello.mo

	# Générer le wheel
	python3 -m pip wheel . --no-deps -w /tmp/linux-hello-build
	
	# Copier le wheel dans le répertoire du paquet
	mkdir -p debian/linux-hello/usr/share/linux-hello
	cp /tmp/linux-hello-build/linux_hello-*.whl debian/linux-hello/usr/share/linux-hello/
	
	# Installer la CLI et les scripts dans /usr/bin
	pip install . \
	    --root=$(CURDIR)/debian/linux-hello \
	    --prefix=/usr \
	    --no-deps \
		--ignore-installed \
	    --no-warn-script-location

	# Déplacer les scripts installés dans /usr/local/bin vers /usr/bin
	if [ -d debian/linux-hello/usr/local/bin ]; then \
	    mkdir -p debian/linux-hello/usr/bin; \
	    mv debian/linux-hello/usr/local/bin/* debian/linux-hello/usr/bin/; \
	    rm -rf debian/linux-hello/usr/local; \
	fi
